body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'New Amsterdam';
}

h1{
    font-size: 28px;
    margin-top: 20px;
    letter-spacing: 1px;
    user-select: none;
    width: 100%;
    text-align: center;
}

h4{
    margin: 0;
    user-select: none;
}

strong{
    color: purple;
}

.animationClass{
    transition: all 0.5s ease-in-out;
    animation-name: fadeAway;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.imageContainer{
    width: 35vw;
    height: 75vh;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    /* perspective: 800px;
    transform-style: preserve-3d;
    transform: rotateX(20deg) translateZ(10px); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.3s ease-in-out;
    background-image: url('./assets/bg-landscape.jpg');
    object-fit: contain;
}

.imageContainer:hover{
    /* transform: rotateX(0) rotateY(0) rotateZ(45deg); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 18px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

@keyframes fadeAway {
    from {
      opacity: 1;
      transform: scale(1);
    }
  
    to {
        opacity: 0;
        transform: scale(5);
    }
  }


  @media only screen and (max-width: 1000px) {
    .imageContainer{
        width: 60vw;
    }
  }

  @media only screen and (max-width: 500px) {
    .imageContainer{
        width: 70vw;
    }
  }

  @media only screen and (max-width: 400px) {
    .imageContainer{
        width: 80vw;
    }
  }