body{
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 100px;
    overflow-x: hidden;
}

.showcase video{
    width: 100%;
    height: 44%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
}

.title{
    width: 100%;
    height: 27%;
    background-color: #000;
    font-size: 210px;
    color: #fff;
    padding-left: 40px;
    margin: 0;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    font-family: 'New Amsterdam';
    mix-blend-mode: multiply;
}

.nonsense{
    color: white;
    font-weight: 100;
    opacity: 0.8;
    font-family: 'New Amsterdam';
    transition: all 0.3s ease-in-out;
    width: 50%;
    font-size: 20px;
    margin: 30px;
    margin-top: 150px;
    margin-left: 50px;
}

.nonsense:hover{
    opacity: 1;
    transform: scale(1.05);
}

.whoAmI{
    font-family: 'New Amsterdam';
    margin: 50px;
    margin-top: 190px;
    margin-bottom: -120px;
    color: white;
    font-size: 30px;
    letter-spacing: 25px;
    z-index: 1;
    position: relative;
}

.dot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 15%;
    top: 30%;
    width: 140px;
    height: 20px;
    font-family: 'New Amsterdam';
}

.dot p{
    font-size: 25px;
    color: white;
    opacity: 0.8;
    margin: 0;
    margin-left: 10px;
    z-index: 1;
}

.dotInner{
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dotInner i{
    font-size: 30px;
}

.dotInner:hover{
    transform: scale(1.1);
}

.dotInner:nth-child(2){
    top: 101vh;
}

.dotInner:nth-child(4){
    top: 235vh;
}

.line{
    height: 1000px;
    width: 2px;
    background-color: white;
    position: absolute;
    right: 92%;
    top: 30%;
    z-index: 1;
}

.proje{
    background-color: white;
    animation: theySeeMeRollin linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    min-height: 250px;
}

.proje:hover{
    opacity: 1;
}

.proje:hover .overview{
    transform: translateY(0);
}

.overview{
    width: 100%;
    height: 60%;
    background-color: #1E2A5E;
    color: white;
    font-family: 'New Amsterdam';
    font-size: 20px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
    opacity: 1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview a{
    text-decoration: none;
    color: #6EACDA;
}

.projects{
    width: 100%;
    height: 100vh;
}

.dot:nth-child(1){
    top: 120vh;
}

.projects img{
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
}

.navigator{
    position: absolute;
    right: 20%;
    top: 35%;
    height: calc(260vh + 60px);
    width: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.navigateTitle{
    position: absolute;
    font-family: 'New Amsterdam';
    color: white;
    margin-left: 160px;
    font-size: 25px;
    width: min-content;
    height: min-content;
}

.navigateTitle:nth-child(3){
    top: 101vh;
}

.navigateTitle:nth-child(5){
    top: 235vh;
}

.greetings{
    position: absolute;
    color: white;
    font-size: 4rem;
    margin: 0;
    width: 100%;
    text-align: start;
    margin-left: 40px;
    z-index: 2;
    font-family: 'New Amsterdam';
    letter-spacing: 5px;
    opacity: 0.8;
}

.boxone{
    width: 200px;
    height: 200px;
    background-color: white;
}

.boxtwo{
    width: 300px;
    height: 300px;
}

.previewContainer{
    width: 80%;
    height: 100%;
    padding: 35px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: -90px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.previewContainer::-webkit-scrollbar{
    display: none;
}

.scrollUp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: white;
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}

.scrollUp:hover{
    transform: scale(1.1);
}

.bgImg{
    transition: all 0.5s ease-in-out;
    
}

.footer{
    width: 100%;
    height: 40vh;
    padding: 20px;
    padding-left: 50px;
    padding-top: 150px;
    margin-top: 550px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: start;
    row-gap: 0;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    font-family: 'New Amsterdam';
    transform: translateY(100px);
}

.footer h2{
    color: white;
    font-size: 40px;
    letter-spacing: 15px;
}

.footer a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.linkContainer{
    display: flex;
    flex-wrap: wrap;
}

.links{
    display: flex;
    align-items: start;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-in;
}

.links:nth-child(2){
    margin-left: 20px;
}

.links img{
    width: 20px;
    height: 20px;
}
.links:hover{
    transform: scale(1.2);
}

.small{
    display: none;
    width: 100%;
    margin: 0;
    background-color: #000;
    font-size: 150px;
    color: #fff;
    padding-left: 30px;
    font-family: 'New Amsterdam';
    mix-blend-mode: multiply;
    transform: translateY(80px);
}


@keyframes theySeeMeRollin {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 0.7;
        scale: 1;
    }
}

@media only screen and (max-width: 1165px) {
    .navigator{
        top: 55%;
    }

    .whoAmI{
        margin-top: 110px;
    }

    .title{
        height: 40%;
    }
  }

  @media only screen and (max-width: 910px) {
    .showcase video{
        height: 55%;   
    }

    .title{
        display: none;
    }

    .small{
        display: block;
    }
    .small:nth-child(1){
        margin-top: 100px;
    }
  }

  @media only screen and (max-width: 700px) {
    .navigateTitle{
        display: none;
    }
    .projects{
        padding-top: 100px;
    }
  }

  @media only screen and (max-width: 570px) {
    .projects{
        padding-top: 150px;
    }
    .previewContainer{
        grid-template-columns: 50% 50%;
    }
    .scrollUp{
        display: none;
    }
  }

  @media only screen and (max-width: 485px) {
    .title{
        font-size: 160px;
    }
    .navigator{
        right: 10%;
    }
    .showcase{
        width: 100%;
        margin-bottom: 190px;
    }
    .scrollUp{
        right: 25px;
    }
  }

  @media only screen and (max-width: 350px) {
    .previewContainer{
        grid-template-columns: 100%;
    }
  }